<title>Add car </title>

<div class="container">
    <h1> add car </h1>
    <form action="/add" method="post">
        <div class="my-2">
            <input class="form-control" type="text" name="make" placeholder="Enter car name" required>
        </div>
        <div class="my-2">
            <input class="form-control" type="text" name="model" placeholder="Enter car model" required>
        </div>
        <div class="my-2">
            <input class="form-control" type="number" name="year" placeholder="Enter car year" required>
        </div>
        <div class="my-2">
            <button type="submit" class="btn btn-success">Add car</button>
        </div>
    </form>
</div>