{{>navbar}}

<link rel="stylesheet" href="style.css">
<div class="login">
    <h1>Log In </h1>
    <form action="" method="post">
        <div class="form_item">
            <label for="username">Username</label>
            <input type="text" name="usernameOrEmail" id="username">
        </div>

        <div class="form_item">
            <label for="password">password</label>
            <input type="password" name="password" id="password">
        </div>

        <div class="form_item">
            <input type="submit" value="Log In">
        </div>
    </form>
    <a href="/registration">Not a member? Register here</a>
</div>
