{{>navbar}}

    <div class="login">
        <h1>Register Here</h1>
        <form action="/registration" method="post">
            <div class="form_item">
                <label for="username">username</label>
                <input type="text" name="username" id="username">
            </div>
            <div class="form_item">
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
            </div>
            <div class="form_item">
                <label for="password">password</label>
                <input type="password" name="password" id="password">
            </div>
            <div class="form_item">
                <label for="c_password">Confirm password</label>
                <input type="password" name="c_password" id="c_password">
            </div>

            <div class="form_item">
                <input type="submit" value="Register">
            </div>
        </form>
        <a href="/login">Already a member Login now</a>
    </div>

{{>footer}}